body,
h1 {
  font-weight: 300;
  background-color: #eee;
}

#intro {
  display: flex;
  justify-content: space-between;
}

.prefix {
  text-align: center;
  font-size: 1rem;
  color: #bde7ed;
  margin-bottom: 0.4rem;
}

#counter,
#score {
  text-align: center;
  background-color: transparent;
  color: #bde7ed;
}

.question-holder {
  height: 9rem;
  display: flex;
  text-align: center;
  align-items: center;
  
}

.answer-container {
  display: flex;
  flex-direction: initial;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 14px;
  border-color: #bde7ed;
}

.answer-prefix {
  background-color: #ffffff;
  color: white;
  padding: 0;
  margin: 0;
}

.answer-text {
  padding: 0.8rem;
  width: 100%;
  margin: 0;
  color: #bde7ed;
  text-align: center;
}

.answer-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 200ms;
}

.correct {
  background-color: #e671f8;
}

.incorrect {
  background-color: #e671f8;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  position: absolute;
  
  height: 100%;
  width: 100%;
}

.overlay-card { 
width: 300px;
z-index: 9;
background-color: #000000e2;
border-radius: 40px;
color: #bde7ed;
box-shadow: 0 0.4rem 1.4rem 0 rgba(37, 37, 37, 0.58);
justify-content: center;
position: absolute;
}

.card-img-top {
  margin: auto;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

#shotglass1, #shotglass2, #shotglass3 {
  height: 40px;
}

body {
  background-image: url('/img/Door_V2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#countdown {
  background-color: transparent;
  color: #bde7ed;
}


#question {
  background-color: transparent;
  color: #bde7ed;
}

.my-5{
  margin-top: 0 !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerText {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  background-color: #2a154a;
  width: 106%;
}

.headerImage {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 11rem;
  align-self: center;
}
